#head{
    background-color:aqua;
    color: brown;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    padding: 0;
    border: 1px solid black;
}
body{
    background-color: rgba(200,120,233,0.3);
}

.text{
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    border: 1px solid black;
    width: 100px;
    background-color: beige;
}